.introduce img{
    width: 147px;
    height: 151px;
    border-radius: 268px;
}
h2{ 
    color: white;
    text-align: center;
    width: 157px;
    height: 140px;
    background-color: rgba(0, 147, 237, 1);
    border-radius: 13px;
}
input{
    color: white;
    text-align: center;
    font-size: 20px;
    border-radius: 13px;
    width: 150px;
    background-color:  rgba(0, 147, 237, 1);
    border: none;
}
::placeholder{
    color: white;
}
h1{
    color: rgba(0, 147, 237, 1);
}
.buttons{
    border-color: rgba(0, 147, 237, 1);
    font-weight: bold;
    color:  rgba(0, 147, 237, 1);
    border-width: 4px;
    font-size: 16px;
    border-radius: 12px;
    background-color: rgba(214, 245, 255, 1);
    width: 157px;
    height: 52px;
}
.buttonz{
    color: white;
    border-color: rgba(0, 147, 237, 1);
    font-weight: bold;
    background-color: rgba(0, 147, 237, 1);
    border-width: 4px;
    font-size: 16px;
    border-radius: 12px;
    width: 157px;
    height: 52px;
}

